/*Header!!!!*/

@font-face {
	font-family: 'bebas';
	src: url('fonts/Bebas_Neue_Cyrillic.eot');
	src: local('☺'),url('../fonts/Bebas_Neue_Cyrillic.ttf') format('truetype'), url('../fonts/Bebas_Neue_Cyrillic.woff') format('woff'), url('../fonts/Bebas_Neue_Cyrillic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



}html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.header {
	position:relative;
	height:700px;
	background-size: 100%;
	width:100%;
	background-image: url(../pic.jpg);
}

.flag {
	width: 110px;
	height: 114px;
	background: url(../flag.png);
	position:absolute;
	left:85%;
	background-size: 200%;
	background-position: 0%;
}
.flag:hover {
	background-position: 100%;
}

.title-wrapper {
	position:absolute;
	top: 100%;
	margin-top: -18%;
	left: 5%;
	color: #fff;
	font-family:bebas;
}

#brand {
	font-size: 4em;

}
.title-list li {
	float:left;
	padding-right: 12px;
	list-style: none;
	font-size: 1.32em;
}
section h2 {
	font-size: 2.5em;
	font-family:bebas;
	text-align: center;
	padding: 30px;

}

footer {
height:200px;
background-image:url(../footer.jpg);
background-size: 100%;
}
.about {
	padding:50px;
}
.about p {
	font-size: 1.3em;
}

.photos {

}

.history {
	background: transparent;
	min-height: 400px;
	color: #fff;
	padding-bottom: 35px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.history p {
	padding: 10px;
	font-size: 1.5em;
}

#myCarousel {
	width: 460px;
	margin: 0 auto;
}
#myCarousel:after {
	content:"Зріст моделі 182см. На моделі розмір M.";
	display:block;
	text-align: center;
	padding-top: 7px;
	font-size: 0.9em;

}
.carousel-control.left {
	background: transparent;
}
.carousel-control.right {
	background: transparent;
}
/*NUMBERS*/
.numbers {
	padding: 100px 0 50px;
/*	background-image: url(../img/brickwall.png);*/
}
.numbers>div {
	width: 33.3333%;
	min-height: 200px;
	float:left;
	text-align: center;
}
.number2,
.number3 {
}
.numbers h2 {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	background-color: rgb(236, 236, 236);
	border-radius: 50%;
}
.numbers p {
	padding: 15px;
	font-family: bebas;
	font-size: 22px;
	width: 70%;
	margin: 0 auto;
}
.granny {
	display: block;
	width: 130px;
	margin: 0 auto;
	padding-top: 30px;
}
.form-wrapper {
	width:75%;
	margin: 0 auto;
}

.form-wrapper input, .form-wrapper select {
	border: 2px solid black;
	border-radius: 0px;
}
.form-wrapper select {
	width:50px;
	height:30px;
	font-size: 1.2em;
}
.last {
	min-height:85px;
	padding-top: 20px;
	padding-bottom: 60px;
}
.h {
	display: block;
	margin: 0 auto;
}
.delivery {
	font-size: 11px;
}
.np {
	display:inline-block;
	font-size: 23px;
	font-family: bebas;
	position:relative;
	top:5px;
}
.np + img {
	padding-left:20px;
}
.order {
	width: 100%;
	border-radius: 0px;
	border:none;
	background-color:#2ff1a2;
	color:#fff;
	font-family: bebas;
	font-size: 22px;
}
.order:hover {
	background-color: #55FDB9;
}
.price p {
	font-size: 25px;
	font-family: bebas;
	text-align: center;
	padding:20px;
	background-color: #F0EFEF;
	margin: 0px;

}
.info {
	padding:10px;
	font-size: 0.9em;
}
.centered {
	display:block;
	margin: 0 auto;
}
.about_us {
	text-align:center;
	background-color:  rgb(239, 237, 237);

}
.about_us img {
	border-radius: 50%;
}
.names {
	color:#000;
	text-decoration: none;
	font-weight: bold;
}
.us_wrap {
	width:75%;
	padding:25px;
	background-color: #fff;
	margin:0 auto;
	border-bottom: 1px solid rgb(186, 186, 186);
	margin-bottom: 70px;
}
#mc_embed_signup {
	width:60%;
	margin: 0 auto;
	background: transparent !important;
}

#mc_embed_signup input[type="email"] {
	border: 2px solid black;
}
#mc_embed_signup input[type="submit"] {
	background-color: #2ff1a2;
}

.contact_us {
	text-align: center;
	background-image: url(../img/foggy_birds.png);
	padding-bottom: 50px;
}
.details {
	background-color:  rgb(220, 237, 237);
}
.details {
	padding-top: 30px;
	background-image: url(../img/foggy_birds.png);
}